*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.container .logo{
  margin-top: 20px;
  font-size: 40px;
  font-weight: bold;
}

.logo img{
  vertical-align: middle;
}

.container input{
  width: 300px;
  margin-top: 40px;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 10px;
}

.btn{
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
  border-color: gray;
}

.box{
  margin-top: 60px;
  background-color: lightgray;
  width: 700px;
  padding: 20px;
}

ul{
  list-style: none;
}

li{
  padding: 10px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.7);
  font-weight: 600;
  cursor: pointer;
}

li:hover{
  background-color: rgba(255, 255, 255, 0.8);
}

li:active{
  color: lightgrey;
  background-color: rgba(255, 255, 255, 0.8);
}

.sbarrato{
  text-decoration: line-through;
}